body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #333;
}
header {
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #fff;
}
h2 {
  color: #333;
  margin-top: 30px;
}
p {
  margin-bottom: 20px;
}
a {
  color: #009dff;
  text-decoration: none;
}
ul {
  margin-bottom: 20px;
  padding-left: 20px;
}
footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.hamburger {
    display: flex;
    position: absolute;
    top: 1%; /* Position from the top */
    right: 20px; /* Distance from the left */
    z-index: 2; /* Stay on top */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 4px; /* Increased thickness */
    background-color: #ffffff;
    transition: all 0.3s ease;
    z-index: 2; /* Stay on top */
    border-radius: 3px; /* Rounded edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}



.hamburger:hover .line {
    background-color: #555;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}